// SERIAL
#define SERIAL_BAUDRATE 115200

// SERVER
#define SERVER_PORT 80

// DS18B20
#define DS_PIN 19           // input
#define DS_CHECK_PERIOD 5000

// APP
#define APP_DATA_REFRESH_PERIOD 5000
#define APP_CELSIUS_MIN 35
#define APP_CELSIUS_MAX 45
#define APP_FAHRENHEIT_MIN 95
#define APP_FAHRENHEIT_MAX 104

// COLOUR CHANGE
#define COLOUR_PIN 4        // output
#define COLOUR_DELAY 1000

// HEATING
#define HEATING_PIN 18      // output

// TIMER
#define WATER_TIMER 30 * 60 * 1000

// WATER FILL
#define WATER_FILL_PIN 15   // output

// WATER LEVEL SENSOR
#define WATER_SENSOR_PIN 22 // input

// WATER FLOW
#define WATER_FLOW_PIN 2   // output